.exp {
  display         : inline;
  font-weight     : bolder;
  background-color: #eee;
  border-radius   : 1mm;
  padding         : 1mm 1mm 1mm 1mm;
}

.q {
  break-inside: avoid;
}

p {
  line-height: 160%;
  font-size  : 14pt;
  margin-top : 0mm;
}

li {
  font-size: 14pt;
}

span.h3 {
  font-size  : 16pt;
  font-weight: bold;
}

span.h4 {
  font-size  : 15pt;
  font-weight: bold;
}