!!!
%html
  %head
    %meta{ charset:"utf-8" }
    %link(rel="stylesheet" href="main.css")
  %body
    %h1 算数の問題
    %p
      2020.3.15
    %section.q
      %h2 問1
      %p
        感染性の病気があります。
        %br
        この病気には、検査キットがあります。検査キットで検査すると:
      %ul
        %li 感染者に対する検査では、80%の検査で陽性、20%の検査で陰性の結果になります
        %li 非感染者に対する検査では、10%の検査で陽性、90%の検査で陰性の結果になります。
      %p
        検査キットで検査をしました。検査された人たちの4%は感染者、96%は非感染者です。
      %h3 (1)
      %p
        検査された人たちのうち、陽性になった人と陰性になった人はそれぞれ何%ですか。
      %h3 (2)
      %p
        陽性になった人のうち、感染者と非感染者はそれぞれ何%ですか。
    %section.q
      %h2 問2
      %p
        下表は、ある商品の値段の前年比です:
      %table
        %tr
          %th 商品名
          -(2001..2004).each do |y|
            %th #{y}年
        %tr
          %th ほげ
          -[10,10,10,10].each do |v|
            %th="%+d%%" % v
        %tr
          %th ふが
          -[20, -10, 10, -10].each do |v|
            %th="%+d%%" % v
        %tr
          %th ぴよ
          -[-10, 10, -10, 20].each do |v|
            %th="%+d%%" % v
      %h3 (1)
      %p
        2000年の「ほげ」は 10万円でした。
        %br
        2001年, 2002年の, 2003年の, 2004年の「ほげ」は、それぞれいくらですか。
      %h3 (2)
      %p
        2004年の「ほげ」は、2000年と比べては何%値上がりしましたか？
      %h3 (3)
      %p
        2004年の「ふが」は、2000年と比べては何%値上がりしましたか？
      %h3 (4)
      %p
        2004年の「ぴよ」は、2000年と比べては何%値上がりしましたか？


