!!!
%html
  %head
    %link(rel="stylesheet" href="main.css")
    %script
      MathJax = {tex: { tags: 'ams'  /* should be 'ams', 'none', or 'all' */ } };


    %script{ id:"MathJax-script", src:"./es5/tex-chtml-full.js" }
  %body
    %h1 算数の問題
    %h2 問1
    %p
      .exp A(□)
      は
      .exp □×2+1
      を意味します。
      %br
      .exp B(□)
      は
      .exp □を10で割った余り
      を意味します。
    %p
      例えば。
      %br
      .exp A(1+2+3)
      は、
      .exp A(6)
      なので、
      .exp 6×2+1
      となり、
      .exp A(1+2+3) = 13
      です。
      %br
      .exp B(1234)
      は、
      .exp 1234を10で割った余り
      なので、
      .exp B(1234) = 4
      です。
      %br
      .exp A(B(13))
      は、
      .exp B(13) = 3 なので、
      なので、
      .exp A(B(13)) = A(3)
      となり、
      .exp A(B(13)) = A(3) = 3×2+1 = 7
      つまり、
      .exp A(B(13)) = 7
      です。
    %h3 (1)
    %p
      .exp A(B(76))
      は、いくつですか？
    %h3 (2)
    %p
      .exp A(B(A(B(A(B(A(B(A(B(A(B(A(B(A(B(A(B(A(B(A(B(A(B(A(B(A(B(A(B(A(B(A(B(A(B(A(B(A(B(1))))))))))))))))))))))))))))))))))))))))
      は、いくつですか？
      %br
      ※ (2) の式には、A と B が順に 20個ずつ書かれています。
    %hr{ noshade:true }
    %h2 問2
    %p
      数がたくさん一列に並んでいます。
      %br
      左端の数は、1です。
      %br
      左端以外の数は「自分より左にある数の合計を 10 で割った余り」です。
      %br
      たとえば左端から2つ目の数を計算してみましょう。
      「自分より左にある数」が「
      %span.exp 1
      」なので、合計は
      %span.exp 1
      。
      %span.exp 1
      を
      %span.exp 10
      で割った余りは
      %span.exp 1
      なので、左から2つ目の数は
      %span.exp 1
      であることがわかります。
    %h3 (1)
    %p
      数字の並びを、左から順に 10個 書いてください。
    %h3 (2)
    %p
      左から100個目の数字は何でしょう(注意：左端の数字は、左から1番目です)。
      
